body{
    background-color: rgb(175, 189, 205);
    text-align: center;
}
#box{
    width: 220px;
    height: 399px;
    padding: 16px 16px 40px 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: white;
    
}
.container {
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 100vh;            
}

#p1{
    font-style:normal;
    font-weight: 200px;;
}
#im{
   border-radius: 5pt;
}
#p2{
    color:rgb(74, 70, 70);

}



